#footer {
    display: flex;
}

.event-card{
    display: block;
    margin-top: 40px;
}

.events-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.event-image{
    aspect-ratio: 16/9;
    width: 70%;
    border-radius: 12px;
}

.event-card h3 {
    padding: 0 0 0 22%;
    font-weight: 250;
    text-align: left; 
}

.event-card p {
    padding: 0 0 0 22%;
    text-align: left; 
}

#main-container{
    display: flex;
    flex-direction: row-reverse;
    padding: 2%;
}

#parent-container{
    background-color: bisque;
    width: 100%;
}

#filters-container{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2%;
}

#search-bar{
    width: 70vw;
    position: relative;
    padding-left: 0;
    margin-left: 0;
}

@media (min-width: 1200px) {
    .event-card {
        
    }

    .events-container {
        
    }

    .event-image {
        
    }

    .event-card p {
        
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    .event-card {
        
    }

    .events-container {
        
    }

    .event-image {
        
    }

    .event-card p {
        
    }
}


@media (max-width: 767px) {
   .event-card{
        display: block;
        margin-top: 40px;
    }

    .events-container{
        display: block;
    }

    .event-image{
        aspect-ratio: 16/9;
        width: 90%;
        border-radius: 12px;
    }

    .event-card h3 {
        padding: 0 0 0 22px;
        font-weight: 250;
        text-align: left; 
    }

    .event-card p {
        padding: 0 0 0 22px;
        text-align: left; 
    }

    .view-event-button{
        display: none;
    }
}