#footer {
    display: flex;
}

.event-card{
    display: block;
    margin-top: 40px;
}

.events-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 2%;
}

.event-image{
    aspect-ratio: 16/9;
    width: 83%;
    border-radius: 12px;
}

#main-container{
    display: flex;
    flex-direction: row-reverse;
    padding:  2%;
}

#parent-container{
    width: 100%;
}

#filters-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2%;
    height: 60vh;
    border-left: solid;
    border-color: #FFC107;
    gap: 5%;
    align-items: flex-start;
    padding-left: 60px;
}

.filter-option{
    border: none;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0) !important;
    text-underline-offset: 4px;
}

.filter-option:hover{
    transition: all 0.3s;
    color: #FFC107;
}

#search-bar {
    width: 55vw;
    height: 5vh;
    border-radius: 20px; 
    border: 1px solid #ccc; 
    background-color: #fffcf3;
    padding: 0 1em; 
    font-size: 1em;
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    position: relative;
    right: 14.5%;
    margin-top: 2em;
}

#event-name{
    text-align: left;
    padding-left: 2.5em;
    font-size: 1.2em;
}

#event-date{
    text-align: left;
    padding-left: 2.99em;
}

.event-card {
  transition: transform 0.2s ease;
}

.event-card:hover {
  transform: scale(1.05);
}

@media (min-width: 1200px) {
    .event-card {
        
    }

    .events-container {
        
    }

    .event-image {
        
    }

    .event-card p {
        
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    .event-card {
        
    }

    .events-container {
        
    }

    .event-image {
        
    }

    .event-card p {
        
    }
}


@media (max-width: 767px) {
   .event-card{
        display: block;
        margin-top: 40px;
    }

    .events-container{
        display: block;
    }

    .event-image{
        aspect-ratio: 16/9;
        width: 90%;
        border-radius: 12px;
    }

    .event-card h3 {
        padding: 0 0 0 22px;
        font-weight: 250;
        text-align: left; 
    }

    .event-card p {
        padding: 0 0 0 22px;
        text-align: left; 
    }

    .view-event-button{
        display: none;
    }
}