#favourites-container{
    display: block;
    text-align: left; 
    padding-right: 22%;
}

.event-cards{
    display: flex;
    padding-top: 2%;
    gap: 2%;
}

.event-images{
    aspect-ratio: 16/9;
    width: 30vw;
    border-radius: 12px;
}

.flex-display{
    display: flex;
    justify-content: space-between;
}

.trash-icon{
    transition: all 0.5s ease;
    fill: #fffcf3;
    margin-top: 2%;
}

.trash-icon:hover{
    fill: rgb(75, 75, 75);
}